<div class="card-box" (click)="onSelectItem()" (dblclick)="onOpenItem()">
    <div class="card-box-body">
        <div>id: {{data._id}}</div>
        <div>Type: {{data.type}}</div>
        <div>Title:{{data.title}}</div>

        <div *ngFor="let author of data.authors" >{{author.firstName}}</div>
        
    </div> 
    
    <div class="card-box-footer">
        <i class="fa fa-automobile" aria-hidden="true"></i>
        <i class="fa fa-automobile" aria-hidden="true"></i>
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
    </div>
    
</div>

