/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// @import "~ng-zorro-antd/src/ng-zorro-antd.min.css";

html, body { 
    height: 100%; 
    min-width: 320px;
}

body { margin: 0; font-family: 'Roboto', sans-serif; }


.float-bar-bottom {
    display: flex;
	position: fixed;
	bottom: 1.5rem;
    right: 1.5rem;
    
    .bar-item {
        margin-left: 0.5rem;
    }
}


$mycolour: #b0eb00;