<div class="">
    <div class="cards">
        <div *ngFor="let item of data$ | async" >
            <app-item-card [data]="item"></app-item-card>
        </div>
    </div>

    <div infiniteScroll 
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="onScroll()">
    </div>
    
</div>
    
<div class="float-bar-bottom">
    <a mat-mini-fab class="bar-item" color="primary" (click)="addItem()" aria-label="Add new item">
        <i class="fa fa-cloud-upload "></i>
    </a>
    <a mat-mini-fab class="bar-item" color="accent"(click)="editItem()" aria-label="Edit item">
        <i class="fa fa-pencil"></i>
    </a>
    <a mat-mini-fab class="bar-item" color="warn" (click)="deleteItem()" aria-label="Delete item(s)">
        <i class="fa fa-trash"></i>
    </a>
    
</div>
