/*
Breakpoint 1 (iPhone 5S): 320px
Breakpoint 2 (iPhone 6+): 414px
Breakpoint 3 (iPad Mini): 703px
Breakpoint 4 (iPad Air): 768px
*/

$Breakpoint-0: 240px;
$Breakpoint-1: 320px;
$Breakpoint-2: 414px;
$Breakpoint-3: 703px;
$Breakpoint-4: 768px;

:host::ng-deep.cards { 
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;

    @media only screen and (max-width: $Breakpoint-0) {
        flex-direction: column;
        justify-content: center;
    }
    
    .card {
        &-box {
            display: flex;
            flex-direction: column;
            align-self: center;
    
            width: 200px;
            height: 250px;;
            -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
            text-align: center;
            margin: 25px auto;
        
            &:hover {
            -webkit-box-shadow: 3px 4px 5px 0px rgba(155, 102, 22, 0.25);
            -moz-box-shadow: 3px 4px 5px 0px rgba(155, 102, 22, 0.25);
            box-shadow: 3px 4px 5px 0px rgba(155, 102, 22, 0.25)
            }    
        
            &-body { 
                flex: 1 1 auto;

            }
            
            &-footer { 
                flex: 1 1 auto;
                flex-direction: row;
                align-self: flex-end;
                background-color: aquamarine;
    
                i {
                    margin-left: 0.25em; 
                }
    
            }
        }


    }

/*




    .card-item {
        
        margin: 1rem .25em;
        
        word-break: break-all;
        //height:0;
        overflow:hidden;
        //padding-top:16/9*100%;
        -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
        box-sizing: border-box;
        background-color: peru;
        position: relative;
        flex: 1 1 calc(50% -1em);
        
        &-body { 
            display:flex;
            flex-direction: column;
            overflow:hidden;

        }
        
        
        @media only screen and (max-width: $Breakpoint-4) {
            flex: 0 1 20%;
        }

        @media only screen and (min-width: $Breakpoint-3) {
            flex: 0 1 33.3333%;
        }

        @media only screen and (max-width: $Breakpoint-2) {
            flex: 0 1 50%;
        }

        @media only screen and (max-width: $Breakpoint-1) {
            flex: 0 1 100%;    
        }

        &-footer{
        }
    }
    */
} 
